<div class="accordion mt-2" id="accordionExample">
  <div class="task-item">
    <div class="task-header row align-items-center mb-2">
      <div
        class="col-6 row task-data-and-title"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
        id="headingOne"
      >
        <div class="col-2">
          <span>Day</span>
          <span>Data</span>
        </div>
        <div class="col-10 task-title">
          TaskTitle
        </div>
      </div>
      <div class="col-2 row">
        <div class="px-0 task-weather-icon">
          <img
            class="task-weather-icon-img"
            src="http://openweathermap.org/img/wn/01d@2x.png"
            alt=""
          />
        </div>
        <div class="task-weather-temp px-0">20 &#8451;</div>
      </div>
      <div class="col-4">
        Buttons
      </div>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div>
    <div
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="false"
      aria-controls="collapseTwo"
      id="headingTwo"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
