.task-header{
  height: 50px;
}

.task-data-time{
  font-size: 0.6rem;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.task-main-data{
  cursor: pointer;
}

.task-time{
  font-size: 0.6rem;
}

.task-weather-icon{
  height: 40px;
}

.task-weather-icon-img{
  height: 100%;
  width: auto;
}

.task-weather-temp{
  padding: 10px 0;
}

.task-description{
  font-size: 0.8rem;
}
