<div class="d-flex justify-content-between">
  <div><h2 class="text-uppercase task-add-text">Tasks</h2></div>
  <div>
    <button
      type="button"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#task-add-form"
    >
      Add task <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<form autocomplete="off" (ngSubmit)="addTask()">
  <div
    class="modal fade"
    id="task-add-form"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header task-add-form-header pb-0">
          <h5 class="modal-title" id="modalLabel">Add new task</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            *ngIf="isAddError"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            Cannot save the task!
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="row task-add-form-row">
            <div class="col-4">
              <label class="task-add-form-label" for="task-add-title"
                >Title:</label
              >
            </div>

            <div class="col-8">
              <input
                class="task-add-title"
                type="text"
                id="task-add-title"
                placeholder="Task title"
                [(ngModel)]="task.title"
                name="title"
                required="required"
              />
            </div>
          </div>

          <div class="row task-add-form-row">
            <div class="col-4">
              <label class="task-add-form-label" for="task-add-date-time"
                >Date and time:</label
              >
            </div>
            <div class="col-8">
              <input
                class="task-add-date-time"
                type="datetime-local"
                id="task-add-date-time"
                placeholder="Insert date and time"
                [(ngModel)]="task.localDateTime"
                name="dateTime"
              />
            </div>
          </div>

          <div class="row task-add-form-row">
            <div class="col-4">
              <label class="task-add-form-label" for="task-add-description"
                >Description:</label
              >
            </div>
            <div class="col-8">
              <textarea
                class="task-add-description"
                type="text"
                id="task-add-description"
                placeholder="Task description..."
                [(ngModel)]="task.description"
                name="description"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="modal-footer task-add-form-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
